<div class="container-fluid position-relative" style="background-image: url('<%= url_for(@salon.cover_image) %>'); background-size: cover; height: 100vh;">

  <div class="row justify-content-center align-items-start h-100">

    <div>
      <h2 class="text-white">Our Services</h2>
      <ul class="list-group text-white">
        <% @salon.services.each do |service| %>
          <li class="list-group-item bg-transparent text-white"><%= service.name %></li>
        <% end %>
      </ul>
    </div>

    <div>
      <ul class="list-group text-white text-end">
        <h2><%= @salon.name %></h2>
        <p> Address: <%= @salon.address %> </p>
       <p> Start Time: <%= @salon.start_time %> <p>
        <p> End Time: <%= @salon.end_time %> </p>
      </ul>
    </div>

      <div class="row mt-4">
        <div class="col text-center">
          <%= link_to "Book Appointment", new_salon_appointment_path(salon_id: @salon.id), class: "btn btn-warning" %>
        </div>
      </div>
    </div>

  </div>
</div>
