<div class="container-fluid position-relative" style="background-image: url('<%= url_for(@salon.cover_image) %>'); background-size: cover; height: 100vh;">

  <div class="row justify-content-center align-items-start h-100">

    <div>
      <h2 class="text-white">Services</h2>
      <ul class="list-group text-white">
        <% @salon.services.each do |service| %>
          <li class="list-group-item bg-transparent text-white"><%= service.name %></li>
        <% end %>
      </ul>
    </div>

    <div>
      <ul class="list-group text-white text-end">
        <h4><%= @salon.name %></h4>
        <h4>Address: <%= @salon.address %></h4>
        <h4>Start Time: <%= @salon.start_time %></h4>
        <h4>End Time: <%= @salon.end_time %></h4>
      </ul>
    </div>

      <div class="row mt-4">
        <div class="col text-center">
          <%= link_to "Book Appointment", new_appointment_path(salon_id: @salon.id), class: "btn btn-primary" %>
        </div>
      </div>
    </div>

  </div>
</div>
