<div class="container-fluid position-relative" style="background-image: url('<%= url_for(@salon.cover_image) %>'); background-size: cover; height: 100vh;">

<%= form_for @appointment, url: appointments_path do |f| %>
  <%= f.collection_select :TimeSlot, @available_time_slots, :id, :start_time, prompt: 'Select Time Slot' %>
  <%= f.collection_select :Barbar, @barbars, :id, :email, prompt: 'Select Barber' %>
  <%= f.collection_select :Service, @services, :id, :name, prompt: 'Select Service' %>
  <%= f.submit 'Book Appointment' %>
<% end %>

</div>