<div class="container-fluid position-relative" style="background-image: url('<%= url_for(@salon.cover_image) %>'); background-size: cover; height: 100vh;">
  <div class="center" style="color: white;">
    <h1>Book your Appointment</h1>
    <body>
    <% flash.each do |name, msg| %>
      <%= msg %>
    <% end %>
    <%= yield %>
  </body>
    <%= form_for @appointment, url: salon_appointments_path, method: :post do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :salon_id, value: @salon.id %>

      <%= form.label :barbar_id, 'Select Barber:' %>
      <%= form.collection_select :barbar_id, @barbars, :id, :username, prompt: 'Choose a barber' %>
      </br>

      <%= form.label :service_id, 'Select Service:' %>
      <%= form.collection_select :service_id, @services, :id, :name, prompt: 'Choose a service' %>
      </br>

      <%= form.label :time_slot_id, 'Select Time Slot:' %>
      <%= form.collection_select :time_slot_id, @available_time_slots, :id, :formatted_start_time, {}, { prompt: 'Choose a time slot' } %>
      </br>

      <%= form.submit 'Book Appointment' %>
    <% end %>
  </div>
</div>
