<div class="center ">
<h1>Book your Appointment</h2>

<%= form_with(model: @appointment, url: appointments_path, method: :post) do |form| %>
  <%= form.label :barber_id, 'Select Barber:' %>
  <%= form.collection_select :barbar_id, Barbar.all, :id, :email, prompt: 'Choose a barber' %>
  </br>

  <%= form.label :service_id, 'Select Service:' %>
  <%= form.collection_select :service_id, Service.all, :id, :name, prompt: 'Choose a service' %>
  </br>

  <%= form.label :time_slot_id, 'Select Time Slot:' %>
  <%= form.collection_select :time_slot_id, @available_time_slots, :id, :formatted_time, prompt: 'Choose a time slot' %>
  </br>
  <%= form.submit 'Book Appointment' %>
<% end %>
</div>