<div class="container-fluid position-relative" style="background-image: url('<%= url_for(@salon.cover_image) %>'); background-size: cover; height: 100vh;">
  <div class="center" style="color: white; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <% if @appointment.errors.any? %>
      <div class="alert alert-danger">
        <% @appointment.errors.full_messages.each do |error| %>
          <div><%= error %></div>
        <% end %>
      </div>
    <% end %>
    <h1>Book your Appointment</h1>
    <%= form_with model: [@salon, @appointment], local: true, data: { turbo: false }  do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :salon_id, value: @salon.id %>

      <%= form.label :barbar_id, 'Select Barber:' %>
      <%= form.collection_select :barbar_id, @salon.barbars.active, :id, :username, prompt: 'Choose a barber' %>
      <br>

      <%= form.label :service_id, 'Select Service:' %>
      <%= form.collection_select :service_id, @salon.services, :id, :name, prompt: 'Choose a service' %>
      <br>

      <%= form.label :selected_date, 'Select Date:' %>
      <%= form.date_field :selected_date, class: 'date-picker', onchange: 'this.form.submit()' %>
      <br>

      <%= form.label :time_slot_id, 'Select Time Slot:' %>
      <%= form.collection_select :time_slot_id, @available_time_slots, :id, :formatted_start_time, {}, { prompt: 'Choose a time slot' } %>
      <br>

      <%= form.submit 'Book Appointment' %>
    <% end %>
  </div>
</div>
