<!DOCTYPE html>
<html>
  <head>
    <title>SalonManagementSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> 
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>

  <body>


<nav class="navbar navbar-dark bg-dark
">
  <a class="navbar-brand" href="/">Salon Mangement System</a>
  <form class="form-inline">
   <% if user_signed_in? %>
        Signed in as <%= current_user.username %>. This cannot be cheese?
        
        <%= link_to 'Sign out', destroy_user_session_path %>
        
        <% elsif barbar_signed_in? %>
        Signed in as <%= current_barbar.username %>. This cannot be cheese?
        <%= link_to 'Sign out', destroy_barbar_session_path %>
    <% else %>
    <div class="btn-group" role="group" aria-label="Register and Sign In">
  <%= link_to 'User Sign Up', new_user_registration_path, class: 'btn btn-outline-primary' %>
  <%= link_to 'User Sign in ', new_user_session_path, class: 'btn btn-outline-primary' %>
</div>

 <div class="btn-group" role="group" aria-label="Register and Sign In">
  <%= link_to 'Barber Sign Up', new_barbar_registration_path, class: 'btn btn-outline-primary' %>
  <%= link_to 'Barber Sign in ', new_barbar_session_path, class: 'btn btn-outline-primary' %>
  <%end%>
</div>
    
  </form>
</nav>



    <%= yield %>

      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <div id="user_nav">
    
  </body>
</html>
